<h1>Editing information</h1>

<%= render "form", information: @information %>

<br>

<div>
  <%= link_to "Show this information", @information %> |
  <%= link_to "Back to information", information_index_path %>
</div>
